@model RITFacultyV1.ViewModels.HomeViewModel

<h2 class="pageHeading">IST API Project</h2>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<h3>
    Used the RIT IST API to recreate the IST website.
</h3>
<p> This project consists of 5 sections:</p>
<ol class="captionDegree">
    <li> About</li>
    <li> Faculty</li>
    <li> Programs - Undergrad and Grad</li>
    <li> Employment Table</li>
    <li> Co-Op Table</li>
</ol>
